.typing-indicator {
  display: flex;
  padding: 10px;
}

.typing-indicator span {
  height: 8px;
  width: 8px;
  background-color: #9E9E9E;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;
  
  /* Animation */
  animation-name: bounce;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.typing-indicator span:nth-of-type(1) {
  animation-delay: -0.32s;
}

.typing-indicator span:nth-of-type(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}